---
---
@import "{{ site.theme }}";

.page-header {
  padding: 1rem;
}

.project-name {
  font-size: 1.5em;
  margin-bottom: 0.25rem;
}

.project-tagline {
  font-size: 1rem;
}

.page-header .btn {
  padding: 0.4rem 0.8rem;
  font-size: 0.85rem;
}
